<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025345835550-21pmeesuseof4ltkhh4brr4a3q4q2fqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025345835550-21pmeesuseof4ltkhh4brr4a3q4q2fqg</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ6r9F7By2gJuE7TwraEEnVQxpRjVF264</string>
	<key>GCM_SENDER_ID</key>
	<string>1025345835550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.topbusiness.wepostexpress</string>
	<key>PROJECT_ID</key>
	<string>post-express-780dd</string>
	<key>STORAGE_BUCKET</key>
	<string>post-express-780dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025345835550:ios:608a3c5158f4d85298140f</string>
</dict>
</plist>